:root {
  --main-background-color: #202020;
  --main-text-color: #fff;
  --secondary-background-color: #282323;
  --accent-text-color: #f65282;
}

body {
  background-color: var(--main-background-color);
  color: var(--main-text-color);
  font-family: "Roboto", sans-serif;
}
h1,
h2 {
  text-transform: uppercase;
  font-weight: 700;
}

.wrapper {
  padding: 30px;
}

.navbar {
  margin: 1.125rem 8.75rem;
  display: flex;
  justify-content: space-between;
}

.navbar img {
  max-width: 150px;
}
.navbar-links a {
  margin-left: 28px;
  color: var(--main-text-color);
  text-decoration: none;
  transition: all 150ms ease-in;
}

.navbar-links .active {
  font-weight: 700;
  text-decoration: underline;
}
.navbar-links a:hover {
  text-decoration: underline;
}
.header {
  font-size: 72px;
  margin: 25px 0;
  text-align: center;
  margin: 32px 0 160px;
}

.main-collection {
  padding: 30px 0px 100px 30px;
}

.photo-row {
  margin-top: 40px;
  width: 100%;
}
.portfolio-photo {
  height: 300px;
  width: 100%;
}
.footer-container {
  width: 100%;
  padding: 2.375em 8.75em;
  background-color: var(--secondary-background-color);
}
.footer-logo img {
  max-width: 150px;
}
.social-link {
  margin-left: 30px;
  color: var(--main-text-color);
}
.social-link i {
  font-size: 18px;
  transition: all 150ms ease-in-out;
}
.social-link i:hover {
  color: var(--main-background-color);
  background-color: var(--main-text-color);
  padding: 8px;
  border-radius: 50%;
}

@media (max-aspect-ratio: 3/2) {
  .main-page {
    background-position: 30% 0;
  }
}
@media (max-width: 900px) {
  .wrapper {
    padding: 0 0;
    margin: 0 0;
  }
  .navbar {
    display: flex;
    justify-content: center;
    margin: 1rem 0 1rem;
  }

  .main-page .header {
    font-size: 48px;
  }
  .portfolio-photo {
    height: 100%;
    width: 360px;
  }
  .footer-container {
    width: 100%;
    padding: 1em 1.5em;
  }
  .main-collection {
    padding: 8px;
  }
}
